* {
	padding: 0px;
	margin: 0px;
}

.container {
	width: 40%;
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: aliceblue;
}

.upper {
	height: 100px;
	flex-direction: column;
	justify-content: center;
	background-color: teal;
}

.upper h2 {
	text-align: center;
}

.results {
	font-size: 25px;
	display: flex;
	justify-items: center;
	flex-direction: column;
	margin: 5px auto;
}

.results .body {
	height: 30px;
	display: flex;
	justify-content: center;
}

.lower {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.lower form {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: bisque;
	margin-top: 20px;
}

.lower form > input {
	width: 100px;
	height: 20px;
	margin: 10px auto;
}